{{#partial "content"}}
    <div class="row">
        <div class="col-md-3 text-white">

{{#if "endangered1"}}
    {{#each "endangered1"}}
    <p>age: {{age}}</p>
    <p>health: {{health}}</p>
    <p>locate: {{location}}</p>
    <p>name: {{name}}</p>
    <p>ranger: {{ranger}}</p>
    {{/each}}
{{else}}
     <p>You have nothing</p>
{{/if}}


        </div>
    </div>

    <a href="/endangered" class="btn btn-lg btn-success col-md-6"> Add animal</a>
    <a href="/endangered/delete" class="btn btn-lg btn-success col-md-6"> delete animal</a>
{{/partial}}
{{> layout.hbs}}